


.cyclotron {
    display: inline-block;
    border : 2px solid black;
    margin : 15px 10px 0px 10px;
    padding: 0px 5px 0px 10px;
    width : 250px;
    height: auto;
    background-color: #d39e00;
}
.science {
    display: inline-block;
    border : 2px solid black;
    margin : 15px 10px 0px 10px;
    padding: 0px 5px 0px 10px;
    width : 250px;
    height: auto;
    background-color: #bd2130;
}
.lac {
    display: inline-block;
    border : 2px solid black;
    margin : 15px 10px 0px 10px;
    padding: 0px 5px 0px 10px;
    width : 250px;
    height: auto;
    background-color: #17a2b8;
}
.jb {
    display: inline-block;
    border : 2px solid black;
    margin : 15px 10px 0px 10px;
    padding: 0px 5px 0px 10px;
    width : 250px;
    height: auto;
    background-color: #28a745;
}
.parcM {
    display: inline-block;
    border : 2px solid black;
    margin : 15px 10px 0px 10px;
    padding: 0px 5px 0px 10px;
    width : 250px;
    height: auto;
    background-color: #BA55D3;
}
@media all and (max-width : 600px) {
    .science {
        display: inline-block;
        border : 2px solid black;
        margin : 15px 10px 0px 10px;
        padding: 0px 5px 0px 10px;
        width : 300px;
        height: auto;
        background-color: white;
    }
}