
h4{
    text-align: center;
}
.titleVert{
    text-align: center;
    color: #808000;
}
.titleRouge{
    text-align: center;
    color: #bd2130;
}
.button{
    padding: 0;
    border: none;
    font : inherit;
    color: white;
    font-family: "Times New Roman", Times, serif;
    background-color: transparent;
    cursor: pointer;
    font-size: 17px;
    border-radius: 10px;
    padding: 5px 0px 5px 0px;
    margin-bottom: 5px;
    /*
    display: inline-block;
    text-decoration:none;
    color:black;
    font-size:18px;
    margin:5px 50px 5px 5px;
    */

}
.img{
    width: 30px;
}

.science {
    alignment: center;
    text-align: center;
    display: inline-block;
    /*border : 2px solid black;*/

    border-radius: 10px;
    box-shadow: 0 3px 6px black;

    margin : 15px 10px 5px 10px;
    padding: 0px 5px 0px 10px;
    width : 250px;
    height: auto;
    /*background: linear-gradient(to right, #67b26b, #4ca2cb) !important;*/
    background-color: #808000; /*8B0000*/

    /*background-color: #d39e00;*/
}
.cyclotron {
    display: inline-block;
    border : 2px solid black;
    margin : 15px 10px 0px 10px;
    padding: 0px 5px 0px 10px;
    width : 250px;
    height: auto;
    background-color: #bd2130;
}

.lac {
    display: inline-block;
    border : 2px solid black;
    margin : 15px 10px 0px 10px;
    padding: 0px 5px 0px 10px;
    width : 250px;
    height: auto;
    background-color: #17a2b8;
}
.jb {
    display: inline-block;
    border : 2px solid black;
    margin : 15px 10px 0px 10px;
    padding: 0px 5px 0px 10px;
    width : 250px;
    height: auto;
    background-color: #28a745;
}
.parcM {
    display: inline-block;
    border : 2px solid black;
    margin : 15px 10px 0px 10px;
    padding: 0px 5px 0px 10px;
    width : 250px;
    height: auto;
    background-color: #BA55D3;
}
@media all and (max-width : 600px) {
    .button{
        font-size: 17px;
    }
    .science {

        /*border : 2px solid black;*/
        margin : 15px 5px 0px 0px;
        padding: 0px 10px 0px 5px;
        width : 48%;
        height: auto;

    }

    .cyclotron {
        display: inline-block;
        border : 2px solid black;
        margin : 15px 0px 0px 0px;
        padding: 0px 10px 0px 5px;
        width : 100%;
        height: auto;
        background-color: white;
        text-align: center;
    }
    .lac {
        display: inline-block;
        border : 2px solid black;
        margin : 15px 0px 0px 0px;
        padding: 0px 10px 0px 5px;
        width : 100%;
        height: auto;
        background-color: white;
        /*background-color: lightblue;*/
        text-align: center;
    }
    .jb {
        display: inline-block;
        border : 2px solid black;
        margin : 15px 0px 0px 0px;
        padding: 0px 10px 0px 5px;
        width : 100%;
        height: auto;
        background-color: white;
        text-align: center;
    }
    .parcM {
        display: inline-block;
        border : 2px solid black;
        margin : 15px 0px 0px 0px;
        padding: 0px 10px 0px 5px;
        width : 100%;
        height: auto;
        background-color: white;
        text-align: center;
    }
}