{% extends "layouts/base.html" %}

{% block title %} Points biodiversité {% endblock %}
{% block content %}  
    <h1> pointBio ({{ points|length}} points) </h1>

    {% for point in points %}

        <article>
            <h2><a href="{% url 'pointBio:show' id=point.id %}">#{{ point.id}} - {{point.title}}</a></h2>
            <p>{{ point.body|truncatewords:5 }}</p>
        </article>
        
        {% if not forloop.last%}
        <hr>
        {% endif%}
        {% empty %}
        <p>Désolé, aucun point disponible.</p>

    {% endfor %}
{% endblock %}

