.App{
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  /*background-color: #00b359;*/
}
.outer
{
  margin:0px auto;
  height:100%;
}
.inner
{
  height: 100%;
  background:white;
  padding: 50px 20px 20px 20px;
}
.pointBioButton{
  height: 15px;
  width: 15px;
  background:url("components/iconNavigation.png");
}