h1.title{
    font-size: 30px;
    text-align: center;
    margin: 5px 5px 5px 5px;
    font-family: "Times New Roman", Times, serif;
}

p.contenu{
    font-size: 18px;
    text-align: center;
    margin: 150px 5px 5px 5px;
    font-family: "Times New Roman", Times, serif;
    color: red;
}